<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Infinity</title>
  </head>
  <body>
    <div class="container mt-5 ">
        <h3>Biodata Infinity</h3>
        <a href="/biodata/add" class="btn btn-sm btn-primary">Tambah Data</a>
        <hr>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nama</th>
                <th>Nim</th>
                <th>Prodi</th>
                <th>Divisi</th>
            </tr>
        </thead>
        <tbody>
          <!-- Baris tabel akan diisi dengan data dari database -->
      </tbody>
    </div>
  </body>
</html>